button
{
    background-color: #E50914;
    color: #ffffff;
}

button:hover
{
    background-color: #E50914;
    color: #ffffff;
}

img{
    width: 100%;
    cursor: pointer;
    border-radius: 10px;
}

h5
{
    color: #ffffff;
}

p
{
    color: #eaeaea;
    font-size: 14px;
}